/* Font en background kleur */

* { font-family: :Arial; }
body {background-color:rgb(250,240,230);}
/* Style Class definition */
	.koptekst { 
	
		text-decoration:underline;
		color:red;
		}
#container {
	width: 100%;
}

header {
	width: 100%;
}

menu {
	width: 20%;
	min-width: 150px;
	float: left;
}

content {
	width: 75%;
	float: left;
}

footer {
	clear: both;
	width 100$;
}

#copyright {
	float: right;
	padding-right: 50px;
}
